/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Just+Another+Hand&display=swap');
html{
    font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}
body{
  font: 1.6rem sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

*{
    box-sizing: border-box; /* 100px largeur + 10px padding + 1px border */
}
ul, 
ol, 
p,
button,
figure, 
blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #222;
}
img {
    display : inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section ul li img {
    transition-duration: .25s;
    border: solid .4rem var(--color-default);
    height: 35vh;
}

.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}
:root {
    --color-default : #FBF9FF;
    --color-primary : #636ce2;
    --color-secondary : rgb(84, 149, 192);
    --color-warning : #ac2a14;
    --color-success : #17973e;
    --color-background : #92B9BD;
    --color-background-secondary : rgb(249, 245, 245);
}

html {
    background: linear-gradient(rgba(27, 14, 209, 0.3),transparent), url(../assets/img/sports_background.jpg) no-repeat scroll center center / cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--color-default);
}

/* End of reset CSS */

/* Header CSS */

header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header a img{
    max-width: 13rem;
}
header img{
    max-width: 13rem;
}
header h1{
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
    border: solid .4rem var(--default);
    border-radius: 1rem;
    background-color: var(--secondary);
}
header span {
    background-color: var(--color-primary);
    padding: .8rem;
    border-radius: 1rem;
}
header span a{
    color: var(--color-default);
    text-decoration: none;
}
header em {
    background-color: var(--color-background-secondary);
    color: rgb(0, 0, 0);
    border: solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
}
header a[id="logout"] {
    background-color: var(--color-background-secondary);
    color: rgb(0, 0, 0);
    border: solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    /* position: absolute;
    top: 6rem;
    right: 2rem; */
}
header a[id="logout"]:hover {
    background-color: var(--color-primary);
    color: rgb(0, 0, 0);
    border: solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
}

header a[id="user"] {
    background-color: var(--color-background-secondary);
    color: rgb(0, 0, 0);
    border: solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
    /* position: absolute;
    top: 2rem;
    right: 5rem; */
}
header a[id="user"]:hover {
    background-color: var(--color-primary);
    color: rgb(0, 0, 0);
    border: solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
}


/* End Header CSS */

main {
    max-width: 100rem;
    margin: 0 auto;
    display: block;
}
main section {
    padding: 1rem;
}
main section ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .7rem;
    padding: .7rem; 
}
main section p {
        padding: 3rem;
        margin : 0.5rem;
        text-align: center;
        border: solid .2rem var(--color-default);
        background: var(--color-primary);
}
main h2 {
    text-align: center;
    color: var(--color-default);
}
main p {
    padding: 3rem;
    margin : 0.5rem;
    text-align: center;
    border: solid .2rem var(--color-default);
}
main p.warning {
    color: var(--color-warning);
    background-color: var(--color-background-secondary);
    border: solid rgb(59, 59, 59);
    font-weight: bold;
}
main p.success {
    color: var(--color-success);
    background-color: var(--color-background-secondary);
    border: solid rgb(59, 59, 59);
    font-weight: bold;
}
main a {
    padding: 2rem;
    background-color: var(--color-primary);
    margin: 1rem auto;
    display: block;
    max-width: 25rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
main a:hover {
    color: var(--color-secondary);
    transition: all .2s ease-in;
}

/* CSS for Form */
form {
    background: var(--color-background-secondary);
    padding: 1rem;
    border: solid 0.4rem #eee;
    border-radius: 1rem;
}

form label {
    font-weight: bold;
    color: var(--color-primary);
}

input, textarea, select {
    padding: 1.8rem;
    width: 100%;
    font-size: 1.5rem;
    resize: none;
    color: #000000;
    border-radius: 1rem;
    margin: 0 0 2rem;
}

input:focus,
textarea:focus { outline: 0; }

input[type="submit"] {
        padding: 2rem;
        background-color: var(--color-primary);
        margin: 1rem auto;
        display: block;
        max-width: 25rem;
        text-align: center;
    }
input[type="submit"]:hover {
        color: var(--color-default);
        background-color: var(--color-primary);
        transition: all .2s ease-in;
}
table, td, th {
    border: 1px solid black;
    background-color: var(--color-default);
    text-align: center;
    color: var(--color-primary);
  }

table td {
    padding: 1rem;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 1rem;
    /* overflow-x: scroll; */
}



/* End of Form CSS */

footer{
	border-top: solid .3rem var(--color-default);
    background-color: var(--color-primary);
    color: var(--color-default);
    margin: 1rem 0 0 0;
}
footer p{
	text-align: center;
	padding: 1rem;
	letter-spacing: 0.082em;
	font-weight: 900;
}
.cate{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    padding: 3rem;
}
.cate img{
	max-width: 20rem;
	display: flex;
	height: auto;
	width: auto;
	padding-top: 3rem;
	display: inline-block;
	vertical-align: center;
    margin: 0 auto;
}
.cate section{
	display: inline-block;
	vertical-align: center;
	padding: 3rem;
}
.cate h2{
	padding-top: 2rem;
    font-weight: 800;
}
.cate section ul{
    width: 100%;
    margin: 3rem auto;
	align-items: center;
}
.cate section ul li{
    padding-bottom: 1rem;
}
.cate section ul li:hover{
	text-decoration: underline;
}
.cate section ul li a{
    color: var(--color-default);
    padding-bottom: 1rem;
    font-style: italic;
}
@media screen and (max-width: 60rem){
    header{
        display: block;
    }
    header img{
        margin: 0 auto;
        display: block;
        float: none;
    }
    header a[id="logout"] {
        background-color: var(--color-background-secondary);
        color: rgb(0, 0, 0);
        border: solid var(--color-primary);
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        top: 1rem;
        right: 5rem;
    }
    header p[id="welcome_text"] {
        position: absolute;
        top: 7rem;
        left: 5rem;
    }
    header a[id="user"] {
        background-color: var(--color-background-secondary);
        color: rgb(0, 0, 0);
        border: solid var(--color-primary);
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        left: 5rem;
    }
    header em {
        display: table;
    } 
    main section ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin: 0 auto;
    }
    main section ul li {
        margin: 0 auto;
    }
    main section ul li img {
        height: 25vh;
    }
    main .grid-picture-large {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    footer .cate{
        padding: 1rem;
		grid-template-columns: repeat(1, 1fr);
    }
	footer img{
		max-width: 10rem;
	}
	footer .cate section{
		padding: 0rem;
	}
	footer .cate{
		text-align: center;
	}
}
main .grid-picture-large{
    display:  grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
}
ul figure{
    position: relative;
}
ul figure .material-icons{
    vertical-align: -.4rem;
}
/* Overley effect */
ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 300ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
ul figure:hover figcaption{
    transform: scale(1);
}
/* modale */
.parent-modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 40rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    
    
}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;
    
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #fff;
    cursor: pointer;
}